.label {
    color: var(--color-fourth);
    font-size: var(--size-small);
    text-decoration: none;
    font-weight: bold;
}

.label::selection {
    background-color: var(--color-first);
    color: var(--color-zero);
}